@import url(https://fonts.googleapis.com/css?family=Long+Cang);

@keyframes rotate {
    0%{
        /* width:300px */
        transform: rotate(0deg);

    }
    100%{
        /* width:600px */
        transform: rotate(360deg);


    }
}

.content{
    font-family: 'Long Cang';
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    text-align: center;
}